* {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.html {
    box-sizing: border-box;
    width: 100vw;
    overflow: hidden;
}

.container {
    background-color: #ffffff;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header_box {
    display: inherit;
    flex: 1;
    flex-direction: row;
    padding: 20px;
}

.avatar_box {
    display: inherit;
    flex: 1;
    flex-direction: row;
    column-gap: 12px;
    align-items: center;
}

.avatar {
    width: 50px;
    height: 50px;
}

.avatar_holder {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f1f1f1;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.greeting_box {
    display: flex;
    flex-direction: column;
}

.greeting_box>span:first-child {
    font-size: 16px;
    color: #808080;
}

.greeting_box>span:last-child {
    font-weight: bold;
}

.icon_box {
    display: inherit;
    column-gap: 16px;
    justify-content: flex-end;
    align-items: center;
}

.icon_box i {
    font-size: 20px;
    color: #808080;
}

.balance_box {
    display: inherit;
    flex-direction: column;
    padding: 10px 20px;
    row-gap: 8px;
}

.balance_box>span:first-child {
    font-size: 1.4em;
    color: #808080;
}

.balance_box>span:last-child {
    font-size: 4em;
}

.action_box {
    display: inherit;
    flex: 1;
    flex-direction: row;
    padding: 20px 10px;
    column-gap: 12px;
    height: 50px;
    justify-content: center;
}

.button {
    display: inherit;
    width: 35%;
    height: 22px;
    padding: 20px 0;
    border: 1px solid #808080;
    border-radius: 35px;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.button span {
    font-size: 20px;
    color: #808080;
}

.button span i {
    font-size: 22px;
    color: #000000;
}

.rounded {
    border: 1px solid #808080;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.more_box {
    display: flex;
    column-gap: 4px;
}

.bars {
    width: 5px;
    height: 10px;
    border-radius: 10px;
    background-color: #000000;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* physical card styling */
.phys-card{
   
    padding: 20px;
    line-height: 2;
    overflow: hidden;
}
.phys-card .flex-card{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.fa-wifi{
    font-size: x-large;
    margin-bottom: 20px;
}
.side1{
    background: #c1cfe6;
}
.side1,.side2{
    padding: 30px 30px 15px 30px;
}
.card1{
    
    min-width: 400px;
    border-radius: 20px;
    overflow: hidden;
}
.side2{
    background:#f8f2f7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-card .card-1{
    background-color:#c3e2c0;
}
.side2 .name .date{
    font-weight: 600;
}
.number, .visa{
    font-size: 35px;
}

.visa{
    font-weight: 900;
}



/* End of Physical cars styling */

/*bottom styling*/
.under{
    position: absolute;
    top: 180px;
    z-index: -10;
    padding: 180px 30px 50px 65px;
    width: auto;
    background: black;
    color: white;
}

.under h4 {
    padding: 10px;
    font-size: 25px;
}

.under .items {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 25px;
}

.out-circle {
    border: 2px solid reds;
    background: #151316;
    width: 40px;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 10px;
    border-radius: 100px;
}

.in-circle {
    width: 20px;
    height: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(173, 168, 168);
    border-radius: 200px;
}

.under .user .outter-cir {
    border: 2px solid rgb(233, 233, 227);
    width: 200px;
    border-radius: 100px;
    padding: 5px;
}

.imgTag {
    display: flex;
    align-items: center;
    gap: 10px;
}

.imgTag img {
    border: 2px solid rgb(211, 211, 204);
    width: 30px;
    border-radius: 100px;
    padding: 5px;
}

.wrapper{
    position: relative;
}
